@tailwind base;
@tailwind components;
@tailwind utilities;

.terminal-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.terminal-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
}
.terminal-scrollbar::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
}
.terminal-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
}
